@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="AddLunchBox">Add to Lunch Box</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="AddMatchBox">Add to Match Box</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="ViewAll">View All Items</a>
    </li>
</ul>
<img style="height: 2000px; width: 100%; display:normal;" class="card-img" alt="Porcshe image" src="img\2001-Porsche-911-Carrera-4-Coupe-Green-Side.jpg">
